@using Microsoft.AspNetCore.Components.Authorization
@using MyDNA.GraphQLClients.BlazorWAS.ThuNTN.Pages
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <NotAuthorizedDisplay />
                </NotAuthorized>
                <Authorizing>
                    <p>Đang xác thực người dùng...</p>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Trang không tồn tại.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
